<div class="contact flex flex-col md:flex-row">
    <div class="location-sec z-10 text-white">
        <h1 class="text-8xl max-md:text-8xl text-wrap p-5">Let's Talk About The Kind Of Site You Want</h1>
        <h2 class="text-5xl max-md:text-4xl p-5 font-bold">I'm located in Pretoria, Gauteng</h2>
        <p class="font-bold text-lg max-md:text-xl p-3">
            Let's get you started up, to a design that suits you,<br>
            your everyday needs or the kind that sets you apart by<br>
            contacting me using the form.
        </p>
    </div>
<div class="form-sec z-10">
    <form   id="contactForm"  >
        <div class="form-group"> 
            <label for="fname">First Name :</label>
            <input type="text" id="fname" name="firstname"  placeholder="Your name.." >
        </div>
        <br>
        <div class="form-group">
            <label for="lname">Last Name :</label>
            <input type="text" id="lname" name="lastname"  placeholder="Your last name..">
        </div>
        <br>
        <div class="form-group">
            <label for="email">Email :</label>
            <input type="email" id="email" name="email" placeholder="example@domain.com" >
        </div>
        <br>
        <div class="form-group">
            <label for="message">Message</label>
            <textarea id="message" name="Message" placeholder="Your message.." ></textarea>
        </div>
        <br>
       
        <input class="font-bold" type="submit" id="submit" value="Submit">
    
    </form>
     
</div>
</div>


