<div class="projects-s flex flex-col items-center justify-center">
    <h1 class="z-10 text-white -mt-20">Projects</h1>
    <div class="slide">
        <div class="image active"><img src="assets/images/projects/desktop-preview.jpg" alt="" srcset="" height="500px" width="500px"></div>
        <div class="image"><img src="assets/images/projects/Capture.jpg" alt="" srcset="" height="500px" width="500px"></div>
        <div class="image"><img src="assets/images/projects/memory game.png" alt="" srcset="" height="500px" width="500px"></div>
        <div class="image"><h2>Coming Soon</h2></div>
        <div class="image"><h2>Coming Soon</h2></div>
        <button title="b" id="left" class="left-arrow"><i class="fa-solid fa-chevron-left fa-1x" aria-hidden="true"></i></button>
        <button title="c" id="right" class="right-arrow"><i class="fa-solid fa-chevron-right  fa-1x" aria-hidden="true"></i></button>
    </div>
</div>
