/* projects style container */
.projects{
    width: 100%;
    height: max-content;
    margin: auto 0;
    background: url("../../assets/images/tablet.jpg") no-repeat center fixed;
    background-size: cover;
    z-index: -1;
}


/* project item style */
.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 2em 0;
    height:fit-content;
    width: 100%;
    scale: 1.0;
    transition: all .2s ease-in;
    position: relative;
    background-color: rgba(0, 0, 0, 0.182);
    color: white;
}

.project:hover{
    scale: 1.008;
    color: black;
    background-color: white;
}

.project:hover div h2{
    color: #ca8a04;
}


/* project item style from tablet to large screens */
@media screen and (min-width:640px){
    .project{
        flex-direction: row;
        width: fit-content;
        gap: 5em;
        background-color: rgba(0, 0, 0, 0.67);
    }
}

/* project item links styles */
.project div p.github-link,.project div p.deployment-link{
    margin: 0 0 0 15px ;
}
/* hover */
.project div p.github-link:hover,.project div p.deployment-link:hover{
    color: #ca8a04;
}

/* link */
.project div p.github-link a:link,.project div p.deployment-link a:link{
    text-decoration: underline;
}
/* active */
.project div p.github-link a:active,.project div p.deployment-link a:active{
    color: #0481ca;
    text-decoration: underline;
}
/* focus */
.project div p.github-link a:focus,.project div p.deployment-link a:focus{
    color: #0481ca;
    text-decoration: underline;
}
/* end of link styles */


/* project item paragraph and 2nd level header */
.project div p,.project div h2{
    margin: 0 0 0 15px ;
}

/* project item image style */
.project img{
    max-inline-size: 80%;
    block-size: auto;
    object-fit: contain;
    aspect-ratio: 2/1;
    filter: grayscale();
}


.project:hover img,.project:focus img,.project:active img{
    filter: none;
}

.active img{
    filter: none;
}


@media (min-width:640px){
    .project img{
        max-inline-size: 50%;
        block-size: auto;
        object-fit: contain;
        aspect-ratio: 2/1;
    }

}


