<div class=" about flex  items-center flex-col w-full">

  <div class="accomplishments mt-[10em]   w-full z-10 flex flex-col justify-center items-center bg-opacity-50 details">
    <div class="w-full  h-full flex flex-col justify-center items-center py-10">
      <h1 class=" text-center text-white font-bold cursor-none text-6xl md:text-7xl w-full">ABOUT ME
      </h1>
      <p class="center p-5 sm:p-16 mt-[2em]  w-full">
      <span class="mr-[95%]">  <i class="fa-solid fa-quote-left " aria-hidden="true"></i></span> <br />
          Hello, I’m Goitseone Kau, a native Tswana speaker with a multilingual approach to communication <br>
          — both in spoken languages and in the language of the web. <br>
          In addition to Tswana and English, I’m fluent in web languages such as HTML, CSS, and JavaScript. <br>
          I specialize in translating ideas from concept to creation, <br>
          crafting websites that are as functional as they are visually compelling. <br>
          With strong expertise in web design, HTML5, CSS3, and JavaScript, I bring both creativity and technical proficiency to every project, delivering solutions that meet the unique needs of my clients. <br />
        <span class="ml-[95%]">  <i class="fa-solid fa-quote-right " aria-hidden="true"></i></span>
      </p>
    </div>
    <div class="w-full h-full flex flex-col justify-center items-center py-10">
      <h2 class="p-5 sm:p-6 text-5xl sm:text-6xl w-full text-center">Certificates Of Qualifications &amp; skills</h2>
      <div class="flex flex-col justify-center items-center sm:mt-[5vh] px-5 w-full ">
        <h4>UPSKILLIST</h4>
        <ul class="certificates p-3  w-full">
          <li class="text-center">
            <a class="text-base font-medium"
              href="https://www.upskillist.com/certificate/en/XkZcVyzh/unh0m8xa56lrab1awypunh0z40cp9uww">
              Beginner in Web Development &nbsp; Module
              1  <span class="sm:noDisplay"><br class="md:hidden"></span><b> HTML <i class="fa-brands fa-html5 fa-2xl"></i>,
                CSS <i class="fa-brands fa-sass fa-2xl"></i> <i class="fa-brands fa-css3-alt fa-2xl"></i>,
                Design<i class="fa-brands fa-bootstrap fa-2xl"></i></b>
  
            </a>
          </li>
          <li class="text-center">
            <a class="text-base font-medium"
              href="https://www.upskillist.com/certificate/en/nJlA494U/93f0qy0bbu8l15f9n793f0qy0krj5y6i">
              Intermediate in Web Development Module 2 <span class="sm:noDisplay"><br class="md:hidden"></span> <b>Javascript <i class="fa-brands fa-js fa-2xl"></i>,
                UI/UX</b>
            </a>
          </li>
          <li class="text-center">
            <a class="text-base font-medium"
              href="https://www.upskillist.com/certificate/en/tT7CRe7l/el10g9oga5r091xokel10g9sglqod9tz">
              Advanced in Web Development &nbsp; Module 3 <span class="sm:noDisplay"><br class="md:hidden"></span><b>PHP <i class="fa-brands fa-php fa-2xl"></i> &amp;
                MySQL <i class="fa-solid fa-database fa-2xl"></i></b>
            </a>
          </li>
          <li class="text-center">
            <a class="text-base font-medium"
              href="https://www.upskillist.com/certificate/en/dEnQaPgH/yy9v5ye2hhpsykjay0wmzyy9v58m0fb3">
              Proficient in Web Development &nbsp; Module 4 <span class="sm:noDisplay"><br class="md:hidden"></span> <b>CSS,HTML,PHP &amp;
                MySQL,JS Frameworks And Libraries<i class="fa-brands fa-angular fa-2xl"></i><i
                  class="fa-brands fa-node-js fa-2xl"></i></b>
            </a>
          </li>
        </ul>
      </div>
      <div class="flex flex-col justify-center items-center sm:mt-[5vh] px-5 w-full">
        <h4 class="text-center">Mlab-CodeTribe Code Academy BootCamp</h4>
        <ul class="certificates p-3  w-full">
          <li class="text-center">
            <a class="text-base font-medium w-full"
            >
              HTML,CSS,JavaScript, TypeScript  
  
            </a>
          </li>
         
        </ul>
        <h4 class="text-center">Mlab-CodeTribe Online Program</h4>
        <ul class="certificates p-3  w-full">
          <li class="text-center">
            <a class="text-base font-medium w-full"
            >
              Angular Components, API HTTPClient and Google Authentication 
  
            </a>
          </li>
         
        </ul>
      </div>
    </div>
  </div>


<div class=" z-10 mt-[20em] h-full ">

  <div class=" drive w-full h-1/2 flex   flex-col sm:flex-row  ">
    <div class="drive_image basis-auto  flex justify-center items-center w-full h-1/2 lg:h-full">
      <h1 class="driveHead absolute mx-auto text-white">Drive</h1>
      <img class="h-full w-full" src="assets/images/bmw.jpg" alt="" />
    </div>
    <div class="driven_text p-10  basis-auto  grow  flex justify-center items-center w-full h-1/2 lg:h-full">
      <p>
        It's all about drive. I'm driven by the urge to improve. Experience to a
        degree has become conformity disguised in a professional suit.
        <i>“Conformity is the jailer of freedom and the enemy of growth.” – John
          F. Kennedy</i>, I live to grow, my experience will show where I come from but not
        where I am going, as I'm yet to find my creative limits.
      </p>
    </div>
  </div>



  <div class="  closing w-full h-1/2  flex flex-col justify-center items-center sm:flex-row  mt-[20vh] lg:mt-60">
    <div class="text1 p-10 basis-auto  flex justify-center items-center w-full  h-1/2 lg:h-full">
      <p>
        This page speaks for itself. Whether you need simplistic design or
        professional vintage look or colours that speak to your brand or
        personality, <br />I am the one to transfer those ideas into reality
        using my web Development skills to design custom pages that will set you
        apart. If what I'm about intrigues you click the button below.
      </p>

      <a class="btn-contact font-bold" routerLink="/Contact">Contact Me</a>
    </div>
    <div class="img1 w-full flex basis-auto  h-1/2 lg:h-full">
      <img class="w-full h-full" 
      src="assets/images/laptop-2620118_1280 (2).jpg" alt="" />
    </div>
  </div>
</div>


</div>