.about{
    font-family: 'Avenir Next Condensed';
    background: url("../../assets/images/coffee-laptop2.jpg") fixed no-repeat center;
    background-size: cover;
    /* height:400vh; */
    width: 100%;
    z-index: -1;
    font-family: 'Avenir Next Condensed';
    color: white;
}


p{
    font: 500 13px "Arial black";
}

h1{
    font-family:  'Avenir Next Condensed' ;
}


/*list certificates style*/

ul.certificates{
    font: 500 16px "Arial black";
}

ul.certificates li {
    padding: 10px ;
    width: 100%;
}

ul.certificates li a:hover {
   color: goldenrod ;
}

.drive{
    background-color: rgba(0, 0, 0, 0.442);
}


.driven_text>p{
    text-align: left;
    vertical-align: middle;
}

h1.driveHead{
    font-size: 60px;
}

.closing{
    background-color: rgba(255, 255, 255, 0.392);
}

.text1{
    color: snow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px 40px
}


.btn-contact{
    text-decoration:none;
    background-color:goldenrod;
    text-align: center; 
    color: black;
    font-size: 1.25rem;
    border: 1px solid goldenrod;
    padding: 10px;
    border-radius: 5px;
    width: 40%;
}

.btn-contact:hover{
    background-color:snow;
    color: black;
    border-color: snow ;
}
.btn-contact:active{
    border: 5px  black;
    border-style:inset;
}


@keyframes fade {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

/* .accomplishments{
    height:150vh
}*/

.action-statements{
    height:100vh
} 


@media screen  and (max-width:320px) {
    
    .btn-contact{
        width: 80%;
    }
}
/* 
@media screen  and (max-width:320px) {
    
.about{
    height:550vh;
}

.about::before{
    height:550vh;
}

.btn-contact{
    width: 80%;
}

.accomplishments{
    height:150vh
}

.action-statements{
    height:150vh
}

}


@media (min-width:640px) and (min-height:1000px) {
    
    .about{
        height:350vh;
    }
    
    .about::before{
        height:350vh;
    }
    
   
    
} */