<div>
    <div class="home flex flex-col justify-center items-center snap-start snap-always">
        <div class="flex justify-center flex-col z-10 mb-46">
            <div class="flex justify-center items-center h-14 p-2">
                <h1 class="profession-header text-center text-white font-bold cursor-none text-4xl md:text-6xl ">
                    <span class="text-yellow-600">WEB </span> 
                    <span  id="profession-header" >{{ProfessionText()}}</span>  
                </h1>
                <h1 class="input-cursor font-bold h-12 "></h1>
            </div>
        </div>
        <div  class="flex justify-center flex-col z-10 mt-10">
            <div class="brand-icon mx-auto select-none sm:w-2/3  w-3/4">
                <img class="" src="assets/logo3ed.png" alt="hey">
            </div>
            <h1 class="name-header mt-5 text-center text-white text-wrap text-5xl md:text-7xl ">Goitseone Kau</h1>
        </div>
        <div class="flex justify-center self-end w-full  z-10  md:mt-[85vh] mt-[80vh]  absolute small-apple-mt" >
            <div id="scrollDownText" (click)="scrollTo(target)"  class="flex flex-col items-center hover:animate-bounce">
                <span class="text-white font-serif font-bold text-sm">Scroll Down</span>
                <span> <i class="fa fa-long-arrow-down text-white hover:text-yellow-600 my-xl" aria-hidden="true"></i></span>
            </div>
            <button type="button" (click)="scrollTo(target)" id="scrollBtn"
            class="  rounded-full focus:bg-transparent active:bg-transparent bg-transparent  ">
                <i class="fa fa-arrow-circle-down  text-yellow-600 text-4xl hover:text-white" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div #target class="summary flex flex-col  items-center pt-10 z-10 snap-start snap-always bg-gray-50">
        <div class="bio-section flex flex-col  items-center ">
            <h1  id="my_name" class="center p-5 w-full text-yellow-600">Who Am I,You Ask?</h1>
            <div class="w-full flex gap-5 md:gap-1 flex-col justify-center items-center sm:flex-row h-1/2 max-md:h-full px-1 lg:px-32 ">
                <div class="bio-image flex items-center sm:w-1/2  max-sm:py-3">
                    <div class="bio-pic " ></div>
                </div>
                <div class="bio flex items-center  max-sm:flex-col  p-5 w-full sm:w-1/2 ">
                    <p class="bio-para mx-auto w-full">

                        My name is Goitseone Kau, a certified Web Developer since 2023, based in Pretoria, Gauteng. <br> <br>
                
                        I am dedicated to honing my expertise in web design and development, with a passion for creating visually
                        appealing and functional websites that elevate business presence. Outside of work, I find inspiration in a good
                        cup of tea, novels, and science fiction films, whose unique ideas often influence my creative process. <br> <br>
                
                        As a strategic thinker and diligent worker, I continuously expand my skill set through advanced web development
                        courses. My goal is to bring businesses' digital visions to life, transforming websites into powerful tools that
                        drive growth and engagement. <br>
                    </p>
                </div>
            </div>
        </div>
        <div class="skill-section py-24 mt-16 flex flex-col justify-center items-center h-full w-full bg-yellow-600">
            <h3 class="w-full text-center font-Avenir font-bold py-5">Skill Set</h3>
            <div class="grid grid-cols-2 sm:grid-cols-4 gap-10 sm:gap-5  h-full">
                <div class="brand flex flex-col justify-center items-center gap-4"> <i class="fa-brands fa-square-js fa-2xl"></i><p class="text-2xl font-bold text-center w-full">Javascript</p></div>
                <div class="brand flex flex-col justify-center items-center gap-4"> <i class="fa-brands fa-node fa-xl fa-2xl"></i><p class="text-2xl font-bold text-center w-full">Node</p></div>
                <div class="brand flex flex-col justify-center items-center gap-4"> <i class="fa-brands fa-less fa-xl fa-2xl"></i><p class="text-2xl font-bold text-center w-full">less CSS</p></div>
                <div class="brand flex flex-col justify-center items-center gap-4"><i class="fa-brands fa-css3-alt fa-xl fa-2xl"></i><p class="text-2xl font-bold text-center w-full">CSS3</p></div>
                <div class="brand flex flex-col justify-center items-center gap-4"> <i class="fa-brands fa-bootstrap fa-xl fa-2xl"></i><p class="text-2xl font-bold text-center w-full">Bootstrap CSS</p></div>
                <div class="brand flex flex-col justify-center items-center gap-4"> <i class="fa-brands fa-angular fa-xl fa-2xl"></i><p class="text-2xl font-bold text-center w-full">Angular 17+</p></div>
                <div class="brand flex flex-col justify-center items-center gap-4"> <i class="fa-brands fa-php fa-xl fa-2xl"></i><p class="text-2xl font-bold text-center w-full">PHP</p></div>
                <div class="brand flex flex-col justify-center items-center gap-4"> <i class="fa-brands fa-html5 fa-xl fa-2xl"></i><p class="text-2xl font-bold text-center w-full">HTML 5</p></div>
            </div>
        </div>
    </div>
</div>